<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.conexionBD" connectionString="Data Source=DBCertificados.mssql.somee.com;Initial Catalog=DBCertificados;Persist Security Info=True;User ID=Anthony-svg_SQLLogin_1;Password=bcqwecu6w5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>